<div class="container">
    <!-- The Content Heading -->
    <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
          res.redirect('/')
        } %>
    
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    
    <!-- The Account Management View -->
    <div class="acctMgmtMenu">
      <h2>Welcome <%- locals.accountData.account_firstname %></h2>
      <p class="login-successful-msg">You're logged in.</p>
      <p class="editAcctInfo"><a href="/account/editAcctInfo" title="Edit Account Information">Edit Account Information</a></p>
    </div>
</div>