<% const d = new Date()
let year = d.getFullYear() %>
<footer id="pg-footer">
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a class="footer-error-link" href="/checkerror" target="_blank">Error Link</a>
</footer>