<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div id="aboutCar">
    <div id="aboutCar-det">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>  
        <p>Fuzzy dice!</p>
    </div>
    <div id="underlay" class="hide-sm"></div>
    <img class="hero-img" src="/images/vehicles/delorean.jpg" alt="Delorean">
    <button type="button">Own Today</button>
</div>
<div id="base">
    <div id="col1">
        <h3 class="upgrades-hdr">Delorean Upgrades</h3>
        <div id="minigrid">
            <div class="upgrades">
                <img src="images/upgrades/flux-cap.png" alt="Flux capacitor">
                <p class="upd-text"><a href="#">Flux Capacitor</a></p> 
            </div>
            <div class="upgrades">
                <img src="images/upgrades/flame.jpg" alt="Flames">
                <p class="upd-text"><a href="#">Flame Decals</a></p>
            </div>
            <div class="upgrades">
                <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper sticker">
                <p class="upd-text"><a href="#">Bumper Sticker</a></p>
            </div>
            <div class="upgrades">
                <img src="images/upgrades/hub-cap.jpg" alt="Hub Cap">
                <p class="upd-text"><a href="#">Hub Caps</a></p>
            </div>
        </div>
    </div>
    <div id="col2">
        <h3 class="reviews-hdr">DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80s livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>
