<div class="container">
    <!-- The Content Heading -->
    <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
          res.redirect('/')
        } %>
    
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    
    <!-- The Inventory Management View -->
    <div class="vehMgmtMenu">
        <p class="addClassification"><a class="addNewClassLink" href="/inv/addNewClass" title="Add New Classification">Add New Classification</a></p>
        <p class="addVehicle"><a class="addNewVehLink" href="/inv/addNewVeh" title="Add New Vehicle">Add New vehicle</a></p>
    </div>
</div>