<div class="container">
    <!-- The Content Heading -->
    <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
          res.redirect('/')
        } %>
    
    <%# messages() %>
    
    <!-- The Vehicle Details Display -->
    <div>
        <%- grid %>
    </div>
</div>
